.conteiner{
  background-color:rgba(0, 0, 0, 0.5);
  width:800px;
  height: 550px;
  margin: auto;
  padding:125px;
  position: relative;top: +15px;
  border-radius: 10px 10px 10px 10px;
}


body{
  background-image: url(background.jpg);
  background-size: cover;
}

header{
  text-align: center;
}

#lim-logo{
  height: 100px;
}

#Testo-principale{
  color: lime;
}

nav{
  text-align: center;
  background-color: lime;
  border: 0.25px solid lime;
  padding: 9px;
  position: relative;top: -10px;
}

.rettangolo1{
  background-color: blanchedAlmond;
  height: 25px;
  width:300px;
}

.rettangolo2{
  background-color: LawnGreen;
  height: 25px;
  width: 800px;
}

.rettangolo3{
  background-color: IndianRed;
  height: 25px;
  width:170px;
}

.NomeMonopattino{
  color: white;
  font-size:20px;
  font-family:Arial;
  position: relative;top: +15px;
}

span > p {
  color: white;
  font-size:12px;
}

.bottone{
  position: relative;top: +12px;
}
